body{
    background-color: black;
}

#heading{
    color: white;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#list{
    color: white;
    font-size: larger;
    /* text-align: center; */
    /* text-decoration: white; */
}
